@font-face {
    font-family: 'myfont'; 
    src: url('fonts/Corporate-Mincho-ver3.otf') format('opentype');
}

body {
    margin: 0;
    font-family: 'myfont'; 
}

header {
    background-color: rgb(34, 34, 69);
    color: rgb(219, 228, 240);
    padding: 15px 30px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 101;
}

.title {
    font-family: 'myfont'; 
    font-size: 2.2vw;
    font-weight: 100; 
    letter-spacing: 1vw;
    margin: 0;
}

.input-label {
    display: block;
    margin-bottom: 1vw;
    font-size: 16px;
}

.input-text {
    max-width: 10vw;
    padding: 1vw;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 1vw;
}

.input-text:focus {
    border-color: #4a87e2;
    outline: none;
}

.button-container {
    display: flex;
    justify-content: space-between; /* ボタンを水平に並べる */
    width: 100%;
    gap: 1vw; /* ボタン間のスペースを調整 */
}

.submit {
    font-family: 'myfont';
    background-color: rgb(34, 34, 69);
    color: rgb(219, 228, 240);
    padding: 0.8vw 2vw;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 4px;
    cursor: pointer;
    margin-top: 1vw;
    text-align: center;
}
.reload{
    font-family: 'myfont';
    background-color: rgb(231, 231, 239);
    color: rgb(14, 23, 36);
    padding: 0.8vw 2vw;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 4px;
    cursor: pointer;
    margin-top: 1vw;
    text-align: center;
}

.submit:active, .reload:active {
    background-color: rgb(219, 228, 240);
    color: rgb(7, 7, 83);
}

.screenshot-btn {
    font-family: 'myfont';
    font-size: 18px;
    position: fixed;
    top: 100px;
    right: 10px;
    background-color: rgb(148, 158, 185);
    color: rgb(13, 31, 56);
    padding: 0.8vw 2vw;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 4px;
    cursor: pointer;
    z-index: 102; 
}
.button-container2{
    font-family: 'myfont';
    font-size: 18px;
    position: fixed;
    top: 130px;
    right: 10px;
    color: rgb(13, 31, 56);
    padding: 0.8vw 2vw;
    border-radius: 4px;
    cursor: pointer;
    z-index: 102; 
}


.botton-text {
    font-family: 'myfont';
    font-size: 18px;
    position: fixed;
    top: 120px;
    right: 10px;
    color: rgb(13, 31, 56);
    border-radius: 4px;
    z-index: 102; 
}

.input-position {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed; 
    bottom: 3vw;
    right: 55px;
    z-index: 101;
}

#canvas-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(219, 228, 240);
    z-index: 10;
}

#canvas-container2 {
    position: fixed;
    top: 100px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: none;
    z-index: 10;
}

#canvas-area, #outputCanvas {
    display: block;
    width: 100%;
    height: 100%;
    z-index: 99;
}

#triangleCanvas, #triangleCanvas2, #triangleCanvas3,
#triangleCanvas9, #triangleCanvas10, #triangleCanvas7,
#triangleCanvas11, #triangleCanvas12, #triangleCanvas13,
#triangleCanvas19, #triangleCanvas20 {
    display: block;
    width: 30%;
    height: 30%;
    z-index: 99;
    width: 300px;
    height: 210px;
}

#triangleCanvas4, #triangleCanvas5, #triangleCanvas15,
#triangleCanvas6, #triangleCanvas7, #triangleCanvas8, #triangleCanvas14,
#triangleCanvas16, #triangleCanvas17, #triangleCanvas18 {
    display: block;
    width: 30%;
    height: 30%;
    z-index: 99;
    transform: scaleY(-1);
    width: 300px;
    height: 210px;
}